* {
    box-sizing: border-box;
    font-family: 'Segoe UI', SegoeUI, 'Microsoft JhengHei', 微軟正黑體, "Helvetica Neue", Helvetica, Arial, sans-serif;
    
}

body,
ul,
h1,
h3,
p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
    white-space: nowrap;
    display: block;
}



/* 文字強迫換行，英文字會被切一半 word-break: break-all;
依單字換行 word-wrap:break-word;
死都不換行 white-space:nowrap; 
white-space 可以移除連續空白*/

.container {
    max-width: calc(1600px + 10%);
    width: 100%;
    padding: 0 5%;
    margin: 0 auto;
}

li {
    list-style: none;
}

.underline {
    position: relative;
}

.underline::after {
    content: '';
    position: absolute;
    bottom: -25%;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: black;
    opacity: 0;
}

.underline:hover::after {
    opacity: 1;
}


.border-dashed{
    position: relative;
}
.border-dashed:active::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 90%;
    border: 1px dashed black;
}

.hover-underline:hover{
    text-decoration: underline;
}

.software-list li:hover,
.personal-list li:hover,
.entertainment-list li:hover,
.business-list li:hover,
.developer-list li:hover,
.others-list li:hover,
.sec2-content li:hover{
    text-decoration: underline;
}

.hover-underline_margin:hover{
    text-decoration: underline solid 2px;
    text-underline-offset: 3px;
    margin-right: 4px;
}

header .container {
    height: 54px;
    display: flex;
    align-items: center;
    font-size: 13px;
    margin-bottom: 2px;
}

header .container a img {
    height: 23px;
    padding-left: 10px;
    padding-right: 6px;
}

header .menu {
    height: 49px;
    display: flex;
    flex-direction: row;
    margin-right: auto;
}

header .menu li,
header .menu .menu-2 li {
    padding: 16px 8px 10px 8px;
    border: 1px solid transparent;
}


header .menu li:last-child {
    position: relative;
}

header .menu-2 {
    width: 168px;
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0;
    left: 0;

}

header .menu .more {
    display: none;
}




header .menu-2 .dropdown-surface {
    display: none;
}

header .sign-in-menu,
.sign-in-btn {
    border: 1px solid transparent;
    display: flex;
    align-items: center;
}

header .sign-in-menu .sign-in-btn>img {
    height: 32px;
}

header .sign-in-menu  li {
    padding: 16px 10px;

}

header .sign-in-menu label li:active{
    background-color: #f2f2f2;
}


#menu-more,
#menu-btn,
#microsoft-software,
#microsoft-personal,
#microsoft-entertainment,
#microsoft-business,
#microsoft-developer,
#microsoft-others {
    display: none;
}

/* 如果需要選擇緊接在另一個元素後的元素，而且二者有相同的父元素，可以使用相鄰選擇器（Adjacent sibling selector） */
#menu-btn:checked +.microsoft-dropdown {
    display: block;
}


header .sign-in-menu {
    position: relative;
}

header .sign-in-menu .microsoft-dropdown {
    display: none;
    width: 1230px;
    /* height: 429px; */
    flex-wrap: wrap;
    background-color: #f2f2f2;
    position: absolute;
    top: 94%;
    right: 3%;
    z-index: 2;
}

header .sign-in-menu>li:not(:first-child) i {
    font-size: 16px;
}

/* 漢堡條 */
header .sign-in-menu label span:last-child {
    display: none;
    font-size: 20px;
}

header .sign-in-menu .microsoft-dropdown .menu_repeat {
    display: none;
}

/* header .sign-in-menu .microsoft-dropdown .menu_repeat ul~li:focus{
    border: 1px dashed black;
} */

header .sign-in-menu .microsoft-dropdown .menu_repeat ul {
    width: 100%;
}

header .sign-in-menu .microsoft-dropdown label span {
    font-weight: bold;
}

header .sign-in-menu .microsoft-dropdown li {
    width: calc((1230px - 60px) / 6);
    display: inline-flex;
    flex-wrap: wrap;
    /* height: 391px ; */
    /* padding-bottom: 10px; */
}
header .sign-in-menu .microsoft-dropdown span {
    padding-left: 24px;
    padding-top: 18px;
    padding-bottom: 18px;
}

header .sign-in-menu .microsoft-dropdown li ul li {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 24px;
}

header .sign-in-menu .microsoft-dropdown .site-map {
    width: 100%;
    background-color: #e6e6e6;
    padding: 1px;  
}

header .sign-in-menu .microsoft-dropdown .site-map a {
    display: flex;
    flex-direction:row;
    width: 240px;
    margin: 0 auto;
    align-items: center;   
    justify-content: center;  
}
header .sign-in-menu .microsoft-dropdown .site-map span{
    padding-right: 5px;
}


main {
    width: 100%;
}

.section1 .container {
    position: relative;
}

.swiper-button-next{
    right: 0;
}
.swiper-button-prev{
    left: 0;
}


.swiper-button{
    border: 1px solid #dbdbdb;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    background: #fafafa;
    display: none;
}

.swiper-button-prev:hover{
    box-shadow: 0 4px 8px rgb(0 0 0 / 20%);
}

.swiper-button-next{
    opacity: 0.8;
}
.swiper-button-next:hover{
    opacity: 1;
}


.container:hover .swiper-button{
    display: flex;
    
}

.swiper-button::after{
    color: #404040;
    font-size: 20px;
}

.swiper-pagination span.swiper-pagination-bullet{
    opacity: 1;
    border: 1px solid rgba(0,0,0,.8);
    background-color: transparent;
    position: relative;
}

.swiper-pagination span.swiper-pagination-bullet:focus::after{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 230%;
    height: 200%;
    border: 2px solid black;
}


.swiper-pagination span.swiper-pagination-bullet:hover {
    background: rgba(0,0,0,.4);

}

.swiper-pagination span.swiper-pagination-bullet-active{
    background-color: black;
}

.swiper-pagination .pause{
    display: inline-block;
    font-size: 15px;
    line-height: 20px;
    padding: 6px 10px 8px; 
    margin-left: 8px;
}

.swiper-pagination .play{
    display: none;
    font-size: 15px;
    line-height: 20px;
    padding: 6px 10px 8px; 
    margin-left: 8px;
}

.swiper-pagination .pause-text,
.swiper-pagination .play-text
{
    display: none;
    position: absolute; 
    top: 0; 
    left: calc(50% + 45px); 
    padding: 8px; 
    font-size: 13px; 
    line-height: 16px; 
    background: #f2f2f2;  
    color: #000; 
    border: 1px solid rgba(0,0,0,.3);
}

.swiper-pagination .pause:hover +.pause-text,
.play:hover +.play-text
{
    display: block;
    position: absolute;
    top: 0;
    left: calc(50% + 45px);
    font-size: 13px;
    padding: 8px;
    line-height: 16px;
    background: #f2f2f2;
    color: #000;
    border: 1px solid rgba(0,0,0,.3);
}

.swiper-pagination .pause:hover,
.play:hover{
    color: #fff;
    background: #000;
}

.section1 img{
    width: 100%;
}

.sec1-content1{
    width: 520px;
    position: absolute;
    left: calc(5% + 10%);
    top: 50%;
    transform: translate(-25%,-55%);
    z-index: 1;
}

.sec1-content1 h2 {
    margin-bottom: 10px;
    font-size: 34px;
    font-weight: 600;
}

.sec1-content1 p {
    font-size: 15px;
}

.sec1-content1 .sec1-button {
    margin-top: 12px;
    padding-top: 12px;
    padding-left: 2px;
    font-size: 15px;

}
button{
    border-color: transparent;
    background-color:transparent ;
    font-weight: bold;
    margin-right: 24px;
    padding: 8px 20px;
    font-size: 15px;
}

button i{
    margin-left:3px ;
} 

.sec1-content1 .sec1-six{
    width: 184.75px ;
    height: 40px;
    margin-right: 24px;
    font-size: 15px;
    background-color: black;
}

.sec1-content1 .sec1-six a {
    color: #fff;
}

.sec1-content1 .sec1-six span:hover,.sec1-content2 button span:hover {
    margin-right: 5px;
    transition: .5s;
}

.sec1-content1 .sec1-six:active {
    border-color:white;
    background: #333;
}


.sec1-content1 .sec1-six:hover span{
    text-decoration: underline solid 2px;
    text-underline-offset: 3px;
    left: -4px;
}


.sec1-content1 .sec1-one:active {
    border-color:rgba(0,0,0,.8);
    background: rgba(0,0,0,.1);
}

.sec1-content2 {
    width: 520px;
    position: absolute;
    left: 5%;
    top: 10%;
    transform: ;
    z-index: 1;
}


.sec1-content2 strong{
    background: #ffb900;
    color: #000000;
    font-size: 15px;
    font-weight: 600;
    line-height: 1.5em;
    letter-spacing: -.01em;
    padding: 3px 14px 5px;
    margin: 3px 0;
}

.sec1-content2 h2  {
    margin-bottom: 10px;
    margin-top: 3px;
    font-size: 34px;
    font-weight: 600;
}

.sec1-content2 p {
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
}

.sec1-content2 button{
    width: 124px ;
    height: 40px;
    margin-top: 24px;
    font-size: 15px;
    background-color: black;
}
.sec1-content2  button a {
    color: #fff;
}

.section2,
.section3 {
    margin-top: 60px;
}

.section2 .sec2-content {
    margin: auto;
    height: 130px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.section2 .sec2-content li {
    width: 184px;
    padding: 12px 6px;
    border: 2px solid transparent;
}

.section2 .sec2-content li a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    padding: 6px 12px;
    font-size: 15px;
    font-weight: 600;
    align-items: center ;
    border: 2px solid transparent;
}

.section2 .sec2-content .btn1>span{
    width: 125px;
    white-space: pre-wrap;
    text-align: center;
}

.section2 .sec2-content li  img {
    width: 40px;
    margin-bottom: 4px;
}



.row {
    margin: 0 -12px;
    display: flex;
    flex-direction: row;
}

.card {
    width: 25%;
    padding: 0 12px;
}

.card img {
    width: 100%;
    margin-bottom: 10px;
}

.card h3 {
    margin-top: 15px;
    padding: 0 12px 2px 0;
    font-weight: 600;
}

.card p {
    font-size: 15px;
    padding-bottom: 10px;
}

.card p span{
    color: #0067b8;
    font-weight: 600;
}

strong {
    background-color: #ffd800;
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;
    letter-spacing: .075em;
    padding: 3px 14px 5px;
    margin: 12px 0 4px;
}

.section4 {
    margin-top: 60px;
}

.section4 .container {
    position: relative;
}

.section4 img {
    width: 100%;
}
.sec4-content1 {
    width: 412px;
    position: absolute;
    left: calc(5% + 100px);
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}


.sec4-content1 h2 {
    margin-bottom: 10px;
    font-size: 34px;
    font-weight: 600;
}

.sec4-content1 p {
    padding-bottom: 12px;
    font-size: 15px;
}

.sec4-content1 a {
    color: white;
    background-color: black;
    width: 123px;
    height: 39.5px;
    line-height: 39.5px;
}

.sec4-content1 button span:hover {
    margin-right: 5px;
    transition: .5s;
}


.section6 .container {
    height: 80px;
    position: relative;
}

.sec6-content {
    height: 32px;
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: row;
    align-content: flex-end;

}

.section6 span {
    font-size: 15px;
    padding-right: 12px;
    margin-bottom: 4px;
    display: block;
    height: 20px;
    line-height: 32px;
    color: rgba(0,0,0,.6);

}

.section6 a:hover {
    filter: brightness(0.8);
}

.section6 a {
    border: 2px solid transparent;
}
.section6 img {
    margin-right: 12px;
    height: 100%;
    
}

footer {
    background-color: #f2f2f2;
    font-size: 12px;
    
}

footer  .footer-row {
    margin: 30px  0;
    display: flex;
    flex-wrap: wrap;
}
footer .footer-row ul{
    width: calc(100% / 6);
}

footer .footer-row ul p {
    font-size: 15px;
    padding-top: 36px;
    padding-bottom: 4px;
    font-weight: 600;
    color: #616161;
}

footer .footer-row ul li {
    padding: 8px 0;
}
footer .footer-row ul li a{
    display: inline;
    font-size: 11px;
    /* line-height: 16px; */
   
}

footer .copyright {
    /* height: 24px; */
    padding: 30px 0 16px;
    display: flex; 
    align-items: center;
    justify-content: space-between;
}

footer .location {
    display: flex;
    flex-direction: row;
    align-items: center;
}
footer .location span{
    color: #616161
} 

footer .location i{
   font-size: 20px;
   margin-right: 10px;
   line-height: 72px;
}

footer .copyright .copyright-list {
    display: inline-flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

footer .copyright .copyright-list li {
    padding: 0 24px 4px 0;
}

footer .copyright .copyright-list li a ,
.footer-row ul li a{
    color: rgba(0,0,0,.8);

}



@media screen and (max-width:1399px) {
    header .container .sign-in-menu>li:not(:first-child) span {
        display: none;
        padding: 0px;
    }
    .sec1-content1,
    .sec4-content1{
        width: 440px;
    }
    .sec1-content1 h2,
    .sec4-content3 h2 {
        font-size: 24px;
    }
}

@media screen and (max-width:1299px) {
    header .sign-in-menu .microsoft-dropdown {
        width: 1023px;
    }
}

@media screen and (max-width:1083px) {
    .section1 .container,
    .section4 .container {
        padding: 0;
    }

    .sec1-content1,
    .sec4-content1  {
        width: 340px;
        left: 5%;
        transform: translateY(-60%);
    }

    .row {
        flex-wrap: wrap;
        row-gap: 48px;
    }

    .card {
        width: 50%;
    }

    footer .footer-row ul{
        width: calc(100% / 3);
    }

}

@media screen and (max-width:1024px) {
    header .sign-in-menu .microsoft-dropdown {
        width: 818px;
    }
}


@media screen and (max-width:886px) {
    header .menu li:last-child {
    padding: 0;
    
}
    
    header .menu  .more{
        display: inline-block;
        position: relative;
        padding: 16px 8px 10px 8px;

    }

    header .menu  .more:active::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 100%;
        height: 100%;
        border: 1px dashed black;

    }

    header .menu .more:active {
        background-color: #f2f2f2;
    }

    

    header .menu li {
        position: relative;
    }

    header .menu .menu-2 {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        transform: translateY(5px);
        z-index: 1;
        background-color: #f2f2f2;
      
    }

    #menu-more:checked+.menu-2 {
        display: block;

    }



    /* header .menu li:last-child:hover .menu-2 {
        display: block;
    } */

}

@media screen and (max-width:869px) {
    header .menu .surface-btn {
        display: none;
    }

    header .menu-2 .dropdown-surface {
        display: block;
    }
}

@media screen and (max-width:859px) {
    .container {
        padding: 0px;
    }

    .section3 .container,
    .section5 .container,
    .section6 .container,
    footer .container {
        padding: 0 5%;
        margin: 0 auto;
    }

    header .container .sign-in-menu .microsoft-dropdown .menu_repeat span,
    header .sign-in-menu label span:last-child {
        display: block;
    }

    header .menu,
    header .sign-in-menu label .allmicrosoft {
        display: none;
    }

    header .container {
        position: relative;
    }

    header .container>a {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    header .sign-in-menu {
        width: 100%;
        /* position: relative; */
    }

    header .container .sign-in-menu .sign-in-menu_search {
        margin-right: auto;
    }

    header .sign-in-menu .microsoft-dropdown {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        transform: translateY(-15px);
        display: none;
        padding: 0;
    }


    header .sign-in-menu .microsoft-dropdown .menu_repeat {
        display: flex;
        padding: 14px 15px 15px;

    }

    header .sign-in-menu .microsoft-dropdown span {
        padding: 0;
    }

    header .container .sign-in-menu .microsoft-dropdown li span {
        display: inline-flex;
        font-size: 15px;
    }

    header .sign-in-menu .microsoft-dropdown li {
        width: 100%;
    }

    header .sign-in-menu .microsoft-dropdown li ul li {
        padding: 14px 0 15px;
    }

    header .sign-in-menu .microsoft-dropdown li {
        padding: 14px 15px 15px;
    }

    header .sign-in-menu .microsoft-dropdown label{
        width: 100%;
        
    }
    header .sign-in-menu .microsoft-dropdown>li:not(:first-child)>ul{
        padding-left: 30px;  
    }

    /* header .sign-in-menu .microsoft-dropdown label~label:focus{
        border: 1px dashed black;
    } */

    header .sign-in-menu .microsoft-dropdown label span {
        font-weight: normal;
    }

    header .sign-in-menu .microsoft-dropdown .site-map{
        height: 49px;
        background-color: #f2f2f2;
        padding: 14px 15px 15px;
    
    }
    header .sign-in-menu .microsoft-dropdown .site-map a {
        margin: 0 ;
    }
    header .sign-in-menu .microsoft-dropdown .site-map i{
        display: none;
    }


    header .sign-in-menu .microsoft-dropdown>li:not(:first-child) ul {
        display: none;
    }

    #microsoft-software:checked+.software-list,
    #microsoft-personal:checked+.personal-list,
    #microsoft-entertainment:checked+.entertainment-list,
    #microsoft-business:checked+.business-list,
    #microsoft-developer:checked+.developer-list,
    #microsoft-others:checked+.others-list {
        display: block;
        margin-top: 20px;
    }


}

@media screen and (max-width:767px) {

    .sec1-content1,
    .sec4-content1{
        position: static;
    }

    .sec1-content1,
    .sec4-content1{
        width: 100%;
        height: 320px;
        position: static;
        transform: none;
        background-color: #e6e6e6;
        display:  flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: -4px;
    }
    .sec1-content1 h2,
    .sec4-content1 h2
     {
        font-size: 20px;
        padding: 2px 0 3px;
        margin-bottom: 0;
    }

    .sec1-content1 p,
    .sec4-content1 p{
        text-align: center;
    }

    .section2 .sec2-content {
        flex-direction: column;
    }
    
    .section2 .sec2-content li a {
        flex-direction: row;
        justify-content:left ;
        flex-wrap: nowrap;
        margin-left: 48px;
        padding-left: 0;
       
    }
    
    .section2 .sec2-content .btn1>span{
        white-space:nowrap;
        text-align: center;
    }
    .section2 .sec2-content li img {
        width: 20px;
        margin-bottom: 0;
        margin-right:  8px;
    }
    

    footer .copyright {
        display: block; 
    }

    footer .copyright .copyright-list{
        display: flex;
        justify-content: space-evenly;
    }

    footer .copyright .copyright-list li {
        padding: 0;
    }
}
@media screen and (max-width:539px) {
    .card {
        width: 100%;
    }

    footer .footer-row ul{
        width: 100%;
    }


}

@media screen and (max-width:436px) {
    .sec1-content1
     {
        height: 340px;
    }
    .sec1-content1 ul{
        flex-direction: column;
    }

}